<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="/static/tutoriel.css">
		<title>{% block title %}Tutoriel LPro{% endblock %}</title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="pull-right logio">
				{% if user.is_authenticated %}
				<span class="username">[{{ user }}]</span>
				<a href="/logout"> logout</a>
				{% else %}
				<a href="/signin"> s'inscrire</a>
				<a href="/login">login </a>
				{% endif %}
			</div>
			<h1 class="heading">{% block heading %}Tutoriel{% endblock %}</h1>
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Bibliothèque@LPRO</a>
				</div>
				<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li id="tab-home"><a href="/">Home</a></li>
					<li id="tab-authors"><a href="/authors">Auteurs</a></li>
					<li id="tab-books"><a href="/books">Livres</a></li>
					<li id="tab-subjects"><a href="/subjects">Sujets</a></li>
					<li id="tab-Utilisateurs"><a href="/utilisateurs">utilisateurs</a></li>
				</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="main">
			{% block main %}{% endblock %}
			</div>
		</div>
		{% block librairies %}
		<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		{% endblock %}
		<script type="text/javascript">
			var active_tab='#tab-NONE';
			{% block js %}
			{% endblock %}
			$(active_tab).addClass('active');
		</script>
	</body>
</html>
