{% extends "base.html" %}

{% block title %}
	{{ block.super }} | Auteur
{% endblock %}

{% block heading %}
	{{ author }}
{% endblock %}

{% block main %}

		<ul>
			{% for a in author.books.all %}
			<li>{{ a }}</li>
			{% endfor %}		
		</ul>

{% endblock %}

{% block js %}

active_tab = '#tab-authors';

{% endblock %}
