
{% extends "base.html" %}

{% block title %}
	{{ block.super }} | les Auteurs
{% endblock %}

{% block heading %}
les Auteurs
{% endblock %}

{% block main %}


	
		<ul>
			{% for a in authors %}
			<li><a href="/author/{{ a.pk }}">{{ a }}</a></li>
			{% endfor %}		
		</ul>
		
		{% if user.perms.biblio.can_edit_database or user.perms.biblio.can_add_author %}
			<a href="/saisieauthor">Saisir un nouvel auteur</a>	
		{% endif %}

{% endblock %}

{% block js %}

active_tab = '#tab-authors';

{% endblock %}
