{% extends "base.html" %}

{% block title %}
	{{ block.super }} | Ajout livre
{% endblock %}

{% block heading %}
Saisie d'un Livre
{% endblock %}

{% block main %}

	<form action="" method="post" accept-charset="UTF-8">

		{% csrf_token %}
  		{{ bookForm.as_p }}		
		{% if user.perms.biblio.can_edit_database %}
			<a href="/saisieauthor">Saisir un nouvel auteur</a>	
		{% endif %}
    	<input  class="btn btn-success" type="submit" value="Envoyer" />
	</form>

{% endblock %}

{% block js %}

active_tab = '#tab-home';

{% endblock %}
