
{% extends "base.html" %}

{% block title %}
	{{ block.super }} | les livres
{% endblock %}

{% block heading %}
les livres
{% endblock %}

{% block main %}

		<ul>
			{% for b in books %}
			<li><a href="/book/{{ b.pk }}">{{ b }}</a> de 
				{% for a in b.authors.all %}
					{% if not forloop.first %}, {% endif %}<a href="/author/{{ a.pk }}">{{ a }}</a>		
				{% endfor %}		
				Dans le registre <b>{{ b.subject}}</b>
			</li>
			{% endfor %}		
		</ul>		
		
		{% if user.perms.biblio.can_edit_database or user.perms.biblio.can_add_author %}
			<a href="/saisiebook">Saisir un nouveau livre</a>
		{% endif %}
{% endblock %}

{% block js %}

active_tab = '#tab-books';

{% endblock %}
