
{% extends "base.html" %}

{% block title %}
	{{ block.super }} | Livre
{% endblock %}

{% block heading %}
	{{ book }}
{% endblock %}

{% block main %}
écris par 
	{% for a in book.authors.all %}
		<a href="/author/{{ a.pk }}">{{ a }}</a><br/>		
	{% endfor %}		
<br/><br/>
Dans le registre {{ book.subject }}<br/><br/>

Personnes ayant ce livre<br/>
	{% for a in book.owner.all %}
		<a href="/utilisateur/{{ a.pk }}">{{ a }}</a><br/>		
	{% endfor %}	

	



{% endblock %}

{% block js %}

active_tab = '#tab-books';

{% endblock %}
