
{% extends "base.html" %}

{% block title %}
	{{ block.super }} | Login
{% endblock %}

{% block heading %}
logez-vous
{% endblock %}

{% block main %}
<form href="/login" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table class="form">
<input type="submit" value="Login" class="btn btn_default" />
</form>

{% if errmsg %}
<p>{{ errmsg }}</p>
{% endif %}
{% endblock %}
