{% extends "base.html" %}

{% block title %}
	{{ block.super }} | les sujets
{% endblock %}

{% block heading %}
les sujets
{% endblock %}

{% block main %}

		<ul>
			{% for s in subjects %}
			<li>{{ s }}</li>
			{% endfor %}		
		</ul>
		{% if user.perms.biblio.can_edit_database or user.perms.biblio.can_add_author %}
			<a href="/saisiesujet">Saisir un nouveau sujet</a>
		{% endif %}

{% endblock %}

{% block js %}

active_tab = '#tab-subjects';

{% endblock %}
