{% extends "base.html" %}

{% block title %}
	{{ block.super }} | Utilisateur
{% endblock %}

{% block heading %}
	{{ client }}
{% endblock %}

{% block main %}
		
		{% ifequal client.username user.username %}
			<a href="/modif_compte/{{client.pk}}">Gestion du compte</a><br/>
		{% endifequal %}
		
		
		{{ client.firstname }} {{ client.lastname }}<br/><br/>
		né(e) le {{ client.naissance }}<br/><br/>
		{{ client.adresse }} {{ client.codepostal }} {{ client.ville }}<br/><br/>
		{{ client.mail }}<br/><br/>
		
		possède les livres <br/>

					{% for a in client.liste_books.all %}
						{% if a.disponnibility %}
							<li><a href="/book/{{ a.pk }}">{{ a.title }}</a><br/>			
						{% endif %}		
					{% endfor %}
						
			<br/><a href="/ajoutpret/{{client.pk}}">Ajouter un pret</a><br/>
			

		Emprunts en cours
			<table>
				<tr>
					<td>Titre</td>
					<td>Emprunteur</td>
					<td>Date de début</td>
					<td>durée</td>
				</tr>
					{% for a in client.liste_pret.all %}
						<tr><td>{{ a.livre }}</td>
						<td>{{ a.emptrunteur }}</td>
						<td>{{ a.debut }}</td>
						<td>{{ a.duree }}</td></tr>				
					{% endfor %}		
			</table>
			


			

{% endblock %}

{% block js %}

active_tab = '#tab-Utilisateurs';

{% endblock %}
