
{% extends "base.html" %}

{% block title %}
	{{ block.super }} | les Utilisateurs
{% endblock %}

{% block heading %}
les Utilisateurs
{% endblock %}

{% block main %}
		<ul>
			{% for a in users %}
			<li><a href="/utilisateur/{{ a.pk }}">{{ a }}</a></li>
			{% endfor %}		
		</ul>
		


{% endblock %}

{% block js %}

active_tab = '#tab-Utilisateurs';

{% endblock %}
